body{
    background: #444;
    color: #f6f6f6;
    margin: 0;
    line-height: 1;
    letter-spacing: .05rem;
    font-size: 1.5rem;
}

.btn{
    padding: .5rem 2rem;
    cursor: pointer;
    transition: .2s background;
    background: #fff;
}

.btn:hover{
    background: #a9a9a9;
}
@media (hover:none), (hover:on-demand){
    .btn:hover{
        background: #fff;
    }
}

.game{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: move-game 2s ease-out;
}

.game__heading{
    margin: 0 0 2.5rem 0;
    cursor: pointer;
    font-weight: normal;
    text-align: center;
}

.game__instructions,
.input-group{
    margin-bottom: 2rem;
    text-align: center;
}

.game__input{
    padding: .5rem;
}

.game__input,
.btn{
    font-size: 1rem;
    border: none;
    outline: none;
}


/* Animation */
.move-heading{
    animation: move-heading 2s ease-in;
}

@keyframes move-heading{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes move-game{
    from{
        transform: translateX(-3000px);
    }
    to{
        transform: translateX(0);
    }
}
